<div class="jumbotron jumbotron-fluid p-3 mb-2 bg-info text-white text-center">
    <%= link_to "Rails Blog", posts_path, class: "display-2 text-dark"%>
  <br></br><p class="lead">Simple blog tempelate using Rails!</p>
</div>