<%= render @post %>

<div>
  <%= link_to "Edit this post", edit_post_path(@post) , class:"btn btn-secondary" %> |
  <%= link_to "Back to posts", posts_path, class:"btn btn-secondary"  %>

  <br></br><%= button_to "Delete this post", @post, method: :delete , class:"btn btn-secondary" %>
</div>
